In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [17]:
!ls -l

total 56
-rw-r--r--   1 muratkahraman  staff   146 Mar 20 23:45 Dockerfile
-rw-r--r--   1 muratkahraman  staff   917 Mar 23 23:11 convert.py
drwxr-xr-x  29 muratkahraman  staff   928 Mar 24 00:11 data
-rw-r--r--   1 muratkahraman  staff  3668 Mar 23 23:59 main.py
-rw-r--r--   1 muratkahraman  staff   531 Mar 24 23:14 main.txt
drwx------@ 26 muratkahraman  staff   832 Mar 24 22:44 pg_data
-rw-r--r--   1 muratkahraman  staff  5181 Mar 23 22:09 pipeline.py
-rw-r--r--   1 muratkahraman  staff  2393 Mar 24 23:48 upload_data.ipynb

In [18]:
!wget https://github.com/kahramanmurat/data/raw/main/performance_data_2022-01.csv.gz

--2024-03-24 23:48:53--  https://github.com/kahramanmurat/data/raw/main/performance_data_2022-01.csv.gz
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kahramanmurat/data/main/performance_data_2022-01.csv.gz [following]
--2024-03-24 23:48:53--  https://raw.githubusercontent.com/kahramanmurat/data/main/performance_data_2022-01.csv.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17421973 (17M) [application/octet-stream]
Saving to: ‘performance_data_2022-01.csv.gz’

performance_data_20 100%[===================>]  16.61M  52.9MB/s    in 0.3s

2024-03-24 23:48:54 (52.9 MB/s) - ‘performance_data_2022-01.csv.gz’ saved [17421973/17421973]

In [19]:
!gunzip performance_data_2022-01.csv.gz

In [20]:
!ls

Dockerfile                   performance_data_2022-01.csv
convert.py                   performance_data_head.csv
data                         pg_data
main.py                      pipeline.py
main.txt                     upload_data.ipynb

In [22]:
!wc -l performance_data_2022-01.csv

  186001 performance_data_2022-01.csv

In [25]:
!head -n 100 performance_data_2022-01.csv > performance_data_head.csv

In [27]:
!wc -l performance_data_head.csv

     100 performance_data_head.csv

In [28]:
df=pd.read_csv("performance_data_2022-01.csv",nrows=100)

In [37]:
print(pd.io.sql.get_schema(df,name="performace_data"))

CREATE TABLE "performace_data" (
"timestamp" TIMESTAMP,
  "site" TEXT,
  "county" TEXT,
  "rrc_denom" INTEGER,
  "rrc_enum" INTEGER,
  "erab_denom" INTEGER,
  "erab_enum" INTEGER,
  "rtp_gap_denom" INTEGER,
  "rtp_gap_enum" INTEGER,
  "sip_dc_enum" INTEGER,
  "sip_dc_denom" INTEGER,
  "volte_ia_denom" INTEGER,
  "volte_ia_enum" INTEGER,
  "dl_user_throughput" REAL,
  "ul_user_throughput" REAL,
  "dl_traffic" REAL,
  "ul_traffic" REAL,
  "ho_denom" INTEGER,
  "ho_enum" INTEGER,
  "max_user" REAL,
  "average_user" REAL
)

In [79]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [80]:
import sqlalchemy

In [81]:
from sqlalchemy import create_engine

In [82]:
engine=create_engine('postgresql://root:root@localhost:5432/performance_data')

In [83]:
engine.connect()

In [84]:
print(pd.io.sql.get_schema(df,name="performance_data",con=engine))

CREATE TABLE performance_data (
	timestamp TIMESTAMP WITHOUT TIME ZONE,
	site TEXT,
	county TEXT,
	rrc_denom BIGINT,
	rrc_enum BIGINT,
	erab_denom BIGINT,
	erab_enum BIGINT,
	rtp_gap_denom BIGINT,
	rtp_gap_enum BIGINT,
	sip_dc_enum BIGINT,
	sip_dc_denom BIGINT,
	volte_ia_denom BIGINT,
	volte_ia_enum BIGINT,
	dl_user_throughput FLOAT(53),
	ul_user_throughput FLOAT(53),
	dl_traffic FLOAT(53),
	ul_traffic FLOAT(53),
	ho_denom BIGINT,
	ho_enum BIGINT,
	max_user FLOAT(53),
	average_user FLOAT(53)
)

In [85]:
df_iter=pd.read_csv("performance_data_2022-01.csv",iterator=True,chunksize=10000)

In [86]:
df_iter

In [87]:
df=next(df_iter)

In [88]:
len(df)

10000

In [89]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [90]:
df

,timestamp,site,county,rrc_denom,rrc_enum,erab_denom,erab_enum,rtp_gap_denom,rtp_gap_enum,sip_dc_enum,...,volte_ia_denom,volte_ia_enum,dl_user_throughput,ul_user_throughput,dl_traffic,ul_traffic,ho_denom,ho_enum,max_user,average_user
0,2022-01-01 00:00:00,Derek Hollow,Delaware,416,29,197,2,493,32,48,...,163,86,195.069245,76.747319,44.366079,737.540551,121,28,97.386241,75.944916
1,2022-01-01 00:00:00,Allison Flat,Delaware,731,51,471,35,979,100,91,...,802,38,619.612852,883.950046,957.734329,323.755685,663,50,21.682770,73.073084
2,2022-01-01 00:00:00,Stacy Summit,Delaware,199,59,258,89,503,55,100,...,168,95,515.550220,640.717359,165.353706,840.083154,805,96,47.745555,1.632791
3,2022-01-01 00:00:00,Dawson Islands,Delaware,678,7,175,87,285,59,89,...,249,44,818.726814,23.716393,639.151202,110.709977,310,47,96.922973,55.648361
4,2022-01-01 00:00:00,Diane Lodge,Delaware,607,58,974,37,111,79,57,...,240,95,930.937997,559.850449,916.887970,4.153123,871,64,86.550502,3.565610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-01-02 15:00:00,Thomas Islands,Idaho,618,70,934,29,547,43,59,...,567,31,514.007458,85.524137,289.534253,354.530867,470,26,51.535368,55.790777
9996,2022-01-02 15:00:00,Laura Forges,Idaho,227,99,175,78,924,52,45,...,295,72,74.690557,334.190766,45.745569,962.054683,895,32,10.408274,44.333813
9997,2022-01-02 15:00:00,Nichols Via,Idaho,556,6,545,30,842,37,84,...,213,77,820.039983,516.215991,801.315832,732.697485,657,35,6.395491,47.494619
9998,2022-01-02 15:00:00,Deleon Meadow,Hawaii,543,50,673,67,369,28,69,...,598,81,669.206822,297.090585,876.922156,435.577458,350,22,10.469584,60.351405
9999,2022-01-02 15:00:00,David Shoal,Hawaii,564,70,714,68,473,9,86,...,814,5,339.032499,257.929658,926.239806,504.696254,447,88,17.289493,76.939672

In [91]:
df.head(n=0).to_sql(name="performance_data",con=engine,if_exists="replace")

0

In [92]:
%time df.to_sql(name="performace_data",con=engine,if_exists="append")

CPU times: user 1.08 s, sys: 189 ms, total: 1.26 s
Wall time: 2.37 s

1000

In [93]:
from time import time

In [94]:
while True:
    t_start=time()
    df=next(df_iter)
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df.to_sql(name="performace_data",con=engine,if_exists="append")
    
    t_end=time()
    
    print("inserted another chunk..., took %.3f second" % (t_end-t_start))

inserted another chunk..., took 2.050 second
inserted another chunk..., took 1.801 second
inserted another chunk..., took 1.672 second
inserted another chunk..., took 1.694 second
inserted another chunk..., took 1.727 second
inserted another chunk..., took 1.627 second
inserted another chunk..., took 1.718 second
inserted another chunk..., took 1.990 second
inserted another chunk..., took 1.796 second
inserted another chunk..., took 1.960 second
inserted another chunk..., took 2.206 second
inserted another chunk..., took 1.727 second
inserted another chunk..., took 2.107 second
inserted another chunk..., took 1.658 second
inserted another chunk..., took 2.337 second
inserted another chunk..., took 1.659 second
inserted another chunk..., took 1.616 second
inserted another chunk..., took 1.101 second

StopIteration: